/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	width:80%;
	margin:0 auto;
}
/* ///////////////////// */


/* styling the <nav>, <a> and <img class="logo"> in the <header> */


.navBar{
	display:inline-block;
	margin:0 auto;
	width:100%;
	align-content: center;
	position:fixed;
	background: #4A586E;
	overflow: hidden;
	
	
	
}
.logo{
	position: absolute;
	right:13%;
	top:10%;
}
.navBar a{
	display:inline-block;
	text-align: center;
	width: 12%;
	height:5vh;
	text-decoration:none;
	color:#BCBEC0;
	transition: font-color 1s, background-color 1s;


}

.navBar a:hover{
	background:#808285;
	color:white;
}

.navBar a span{
	display:inline-block;
	margin-top:11%;
	width:100%;
	text-align:center;
}
/* ////////////////////// */

/* styling the <h1>, <a> and <img> in header */


.hLineSec::after {
		content: "";
		clear: both;
		display: table;
		justify-content: space-between;
		align-content: center;
		height:12.5vh;
}
.hLineSec a{
	display:inline-block;
	border:.04rem solid black;
	width:45%;
	margin-left:3em;
	height:2em;
	text-align: center;
	padding-top: 2%;
	text-decoration: none;
	color:#535353;
	transition: font-color 1s, background-color 1s, text-decoration 1s;
}

.hLineSec a:hover{
	color:white;
	text-decoration: underline;
	background:#535353;
}

h1{
	font-size: 5rem;
	width:75%;
	text-align: center;

}
#hline{
	float: left;
	padding: 5px;
	padding-left:10%;
	margin-top:15%;
}

#headerimg{
	/* float:left; */
	margin-top:5%;
	width: 49%;
	padding: 5%;
	margin-left:-5%;
	padding-left:10%
	
}
/* ////////////////////// */


/* styling the main-content */
.feartures{
	border-left:0px;
	margin-left:0px;
	padding-left:0px;
}

.middle-img{
	width:100%;
}
.main-content{
	width:45%;
	display:inline-block;
	letter-spacing:.011em;
	margin:5% 2%;
	line-height: 133%;

}
p{
	font-size:115%;
}
h2{
	font-size:160%;
	
}
.main-content2{
	width:30%;
	height:5vh;
	display:inline-block;
	margin-right:3%;
	margin-top:5%;
	margin-bottom:13%;
	line-height: 133%;
	letter-spacing:.011em;
}
/* ////////////////////// */


/* styling the <footer>, <address> and copyright section */
footer{
	margin-top:5%;
	width:15%;
}
p.copyright{
	align-content: center;
	display:inline-block;
	margin:5% 38%;
	
}